<footer id="contato">
    <div class="footer-content">
        <h3><%= estudante.nomeCompleto %></h3>
        <p>Tem alguma ideia legal, quer trocar uma ideia ou só bater um papo sobre design?
            Entre em contato comigo pelas minhas redes sociais, vou adorar tomar um café contigo! Mas você paga viu? ;D</p>
        <ul class="socials">
            <li><a href="https://www.linkedin.com/in/ana-j%C3%BAlia-rubim-41904234b" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
            <li><a href="https://github.com/anajrubim" target="_blank"><i class="fa-brands fa-github"></i></a></li>
            <li><a href="https://www.instagram.com/anajrubim" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
        </ul>
    </div>
    
    <div class="footer-bottom">
        <p>copyright &copy;2025 <%= estudante.nomeCompleto %>. designed by <span>AJR</span></p>
    </div>
</footer>
</body>
</html>